<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yin.yzjcourse">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForeService.ForeServiceActivity" />
        <activity android:name=".RxJava2.RxRelease2Activity" />
        <activity android:name=".RxJava2.DisposableExampleActivity" />
        <activity android:name=".RxJava2.IntervalActivity" />
        <activity android:name=".DiyWidget.DiyViewActivity" />
        <activity android:name=".DiyWidget.ViewAnimation.XmlAnimActivity" />

        <service android:name=".ForeService.FakeForeService" />
        <service android:name=".ForeService.RealForeService" />

        <receiver android:name=".BroadcastPackage.NetStatusBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".DiyWidget.ViewAnimation.FourAnimInterpolatorActivity" />
        <activity android:name=".DiyWidget.ViewAnimation.AnimInterpolatorActivity" />
        <activity android:name=".DiyWidget.PropertyAnimation.PropertyAnimActivity" />
        <activity android:name=".DiyWidget.PropertyAnimation.PropertyAnimInterpolatorActivity" />
        <activity android:name=".DiyWidget.PropertyAnimation.PropertyValuesHolderActivity" />
        <activity android:name=".DiyWidget.PropertyAnimation.AnimatorSetActivity" />
        <activity android:name=".DiyWidget.DrawView.DrawViewActivity" />
        <activity android:name=".DiyWidget.DrawView.BezierLineActivity" />
        <activity android:name=".DiyWidget.XfermodeSrcOutEraserActivity" />
        <activity android:name=".BuilderMode.BuilderModeActivity" />
        <activity android:name=".DiyWidget.QQDelete.QQDeleteActivity" />
        <activity android:name=".MathAbout.MathAboutActivity" />
        <activity android:name=".DiyWidget.DiySimpleActivity" />
        <activity android:name=".DiyWidget.WeightSimpleActivity" />
        <activity android:name=".DiyWidget.MyLinActivity" />
        <activity android:name=".DiyWidget.MyMarginLinActivity" />
        <activity android:name=".DataBindP.DataBindSimplesActivity" />
        <activity android:name=".OfficialWeight.OfficialWeightActivity" />
        <activity android:name=".OfficialWeight.AutoCompleteActivity" />
        <activity android:name=".DiyWidget.FlowActivity" />
        <activity android:name=".DiyWidget.PaintShaderActivity" />
        <activity android:name=".DiyWidget.TelescopeShaderActivity" />
        <activity android:name=".DiyWidget.ShaderAvatarActivity" />
        <activity android:name=".DiyWidget.ShapeUsageActivity" />
        <activity android:name=".DiyWidget.LevelListActivity" />
        <activity android:name=".MaterialDesign.MaterialDesignActivity" />
        <activity android:name=".MaterialDesign.BottomNavigationActivity" />
        <activity android:name=".OfficialWeight.CustomAutoCompleteTextViewActivity" />
        <activity android:name=".PhotoTag.MainAct" />
        <activity android:name=".Coordinator.designDemo.CheeseActivity" />
        <activity android:name=".Coordinator.designDemo.CheeseDetailActivity" />
        <activity android:name=".Coordinator.designDemo.OtherActivity" />
        <activity
            android:name=".Coordinator.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Coordinator.CoordinatorActivity" />
        <activity android:name=".Coordinator.AnchorActivity" />
        <activity android:name=".Coordinator.FlexibleSpaceExampleActivity" />
        <activity android:name=".Coordinator.MaterialUpConceptActivity" />
        <activity android:name=".Coordinator.SwipeBehaviorExampleActivity" />
        <activity android:name=".Coordinator.CustomTextBehaviorActivity" />
        <activity android:name=".MaterialDesign.BottomSheetExampleActivity" />
        <activity android:name=".MaterialDesign.NestedScrollViewActivity" />
        <activity android:name=".MaterialDesign.RecyclerViewActivity" />
        <activity android:name=".MaterialDesign.BottomSheetDialogActivity" />
        <activity android:name=".MaterialDesign.SimpleBottomDialogActivity" />
        <activity android:name=".MaterialDesign.NotificationsActivity" />
        <activity android:name=".MaterialDesign.ButtonsActivity" />
        <activity android:name=".MaterialDesign.ClipChildrenActivity" />
        <activity android:name=".MaterialDesign.ClipToPaddingActivity" />
        <activity android:name=".DiyWidget.ViewTouchActivity" />
        <activity android:name=".DiyWidget.ViewDispatchTouchActivity" />
        <activity android:name=".Base.AndroidMessageActivity" />
        <activity android:name=".Base.BaseContentActivity" />
        <activity android:name=".Base.MessageSourceActivity" />
        <activity android:name=".DiyWidget.ViewGroupAnimActivity" />
        <activity android:name=".DiyWidget.LayoutAnimationXmlActivity" />
        <activity android:name=".DiyWidget.LayoutAnimationCodeActivity" />
        <activity android:name=".DiyWidget.GridLayoutAnimationXmlActivity" />
        <activity android:name=".DiyWidget.GridLayoutAnimationCodeActivity" />
        <activity android:name=".DiyWidget.AnimateLayoutChangesActivity" />
        <activity android:name=".DiyWidget.LayoutTransitionActivity" />
        <activity android:name=".DiyWidget.CanvasChangeActivity" />
        <activity android:name=".DiyWidget.CanvasTranslateActivity" />
        <activity android:name=".DiyWidget.CanvasRotateActivity" />
        <activity android:name=".DiyWidget.CanvasScaleActivity" />
        <activity android:name=".DiyWidget.CanvasSkewActivity" />
        <activity android:name=".DiyWidget.CanvasClipActivity" />
        <activity android:name=".DiyWidget.DrawTextActivity" />
        <activity android:name=".DiyWidget.CanvasTextActivity" />
        <activity android:name=".DiyWidget.FourTextActivity" />
        <activity android:name=".Optimize.OptimizeActivity" />
        <activity android:name=".Optimize.OptimizeOneActivity" />
        <activity android:name=".tools.ToolsActivity" />
        <activity android:name=".Optimize.OptimizeTwoActivity" />
        <activity android:name=".Optimize.OptimizeInnerClassActivity" />
        <activity android:name=".Optimize.OptimizeInnerClassTwoActivity" />
        <activity android:name=".Optimize.OptimizeHandlerActivity" />
        <activity android:name=".Optimize.OptimizeHandlerSolveActivity" />
        <activity android:name=".Optimize.RemoveListenerActivity" />
        <activity android:name=".Optimize.AllocationTrackActivity" />
        <activity android:name=".Optimize.AllocationTrackHomeActivity" />
        <activity android:name=".Optimize.ClipUsageActivity"></activity>
    </application>

</manifest>